.login {
    height: 100vh;
    background: rgba(37, 38, 40, 0.9);
    p {
        color: #f2f2f2;
    }
    .header {
        text-align: center;
        padding: 2rem;
        min-height: 50vh;
        img {
            max-height: 5rem;
        }
    }
    .wave {
        height: 22px;
        background-image: url('../assets/wave.png');
        background-size: contain;
        background-position: center bottom;
    }
    .bottom {
        background: #1BD9DD;
        height: 100vh;
    }
    input {
        padding: 10px;
    }
    h3,
    h4,
    h5 {
        color: white;
    }
    .crosscutText {
        .authorInfo {
            color: white;
            text-align: center;
            vertical-align: bottom;
            max-height: 5rem;
            position: absolute;
            bottom: 2rem;
            width: 100%;
        }
    }
}