<ion-header>
  <ion-navbar>
    <ion-buttons start>
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <table>
    <tr>
      <td style="width:10px;font-size:3rem" padding>
        <ion-icon name="pin"></ion-icon>
      </td>
      <td>
        <p>
          La Térmica<br/> Av. de los Guindos 48, 29004<br/> Málaga, Spain<br/>
        </p>
      </td>
    </tr>
    <tr>
      <td style="width:10px;font-size:3rem" padding>
        <ion-icon name="mail"></ion-icon>
      </td>
      <td>
        <p>
          <a href="mailto:info@jonthebeach.com" target="_blank">info@jonthebeach.com</a>
        </p>
      </td>
    </tr>
    <tr>
      <td style="width:10px;font-size:3rem" padding>
        <ion-icon name="call"></ion-icon>
      </td>
      <td>
        <p>
          (0034)951255080
        </p>
      </td>
    </tr>
  </table>
 
</ion-content>