<ion-header>
    <ion-navbar>
        <ion-buttons start>
        </ion-buttons>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            <img src="assets/logo.png" height="2rem"> jOnTheBeach
        </ion-title>
    </ion-navbar>

    <div padding>
        <ion-segment [(ngModel)]="sessionDay">
            <ion-segment-button value="2017-05-17">
                Wednesday
            </ion-segment-button>
            <ion-segment-button value="2017-05-18">
                Thursday
            </ion-segment-button>
            <ion-segment-button value="2017-05-19">
                Friday
            </ion-segment-button>
        </ion-segment>
    </div>
    <div>
        <ion-item>
            <ion-label>Show all</ion-label>
            <ion-checkbox [(ngModel)]="showAll"></ion-checkbox>
        </ion-item>
    </div>
</ion-header>
<ion-content class="page-home">
    <ion-list *ngIf="currentSessions">
        <ng-template ngFor [ngForOf]="currentSessions" let-timeSessions>
            <ion-list-header>
                {{timeSessions.time}}
            </ion-list-header>
            <ion-item *ngFor="let session of timeSessions.sessions" class="session">
                <ion-avatar item-left (click)="openSpeakerDetails(allSpeakers[session.speakerId])">
                    <img *ngIf="allSpeakers[session.speakerId]" [src]="'https://jonthebeach.com/' + allSpeakers[session.speakerId].imageUrl" />
                    <img *ngIf="!allSpeakers[session.speakerId] && session.workshopTitle" src="./assets/workshop_grey.png" />
                    <img *ngIf="!allSpeakers[session.speakerId] && !session.workshopTitle" src="./assets/logo.png" />
                </ion-avatar>
                <h2 [innerHTML]="session.workshopTitle ? session.workshopTitle : session.title" (click)="openSessionDetails(session)"></h2>
                <span *ngIf="firebaseHandler.settings.canRate && session.averageRating>0">( <ion-icon name='star' class="ratingStar"></ion-icon>&nbsp;{{session.averageRating}} )</span>
                <h3 *ngIf="allSpeakers[session.speakerId]" class="speakerName" [innerHTML]="allSpeakers[session.speakerId].name">
                </h3>
                <p class="description" [innerHTML]="session.description" (click)="openSessionDetails(session)"></p>
                <div>
                    <span class="location">{{session.location}}</span>
                </div>
                <ion-icon name='heart' item-right padding class="favorite" *ngIf="session.favorite===true" (click)="markAsFavorite(session)"></ion-icon>
                <ion-icon name='heart-outline' item-right padding class="" *ngIf="!session.favorite" (click)="markAsFavorite(session)"></ion-icon>
            </ion-item>

        </ng-template>
    </ion-list>

</ion-content>