.list-header-md,
.list-header-ios {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0px;
    background: #EEE;
}

ion-label p {
    max-height: 22px;
}

.favoriteIcon {
    color: #c7c7c7;
}

.favorite {
    color: red;
}

.location {
    float: right;
    color: #de6305;
}