.list-header-md,
.list-header-ios {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0px;
    background: #EEE;
}

ion-label p {
    max-height: 2rem;
}

.speakerName{
    color:#444;
}
.ios{
    h2, h3, span, p{
        font-size: 80%;
    }
    h2{
        font-weight: 500;
    }
    .description{
        display: none;
    }
}

.favoriteIcon {
    color: #c7c7c7;
    font-size: 120%;
}


.favorite {
    color: #de6305;
}

.location {
    color: #de6305;
}

.session h2 {
    white-space: normal;
}

.session {
    h2 {
        display: inline;
    }
}

.ratingStar {
    color: #ffb400;
}

ion-icon[name='heart-outline'] {
    color: lightgrey;
}